<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="~/Content/css/yearnly.less" rel="stylesheet" type="text/css" media="all" />
    <link href="http://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" media="all" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    @Scripts.Render("~/bundles/modernizr")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
</head>


<body>

    <header class="full-width"><section class="wrap group">
        <a id="logo" href="/">Yearnly</a>
        <form method="post" action="" id="global_search">
            <fieldset>
                <input type="text" placeholder="search for lists, items, and friends" id="global_search_field" />
                <input type="submit" value="search" />
            </fieldset>
        </form>
        @Html.Partial("_LoginPartial")
    </section></header>
    <section class="wrap group">

        <nav id="global_nav">
            <ul id="quick_actions">
                <li id="qa_list"><a href="#">Create a list</a></li>
                <li id="qa_item"><a href="#">Add an item</a></li>
            </ul>
            <ul id="site_nav">
                <li class="@(ViewBag.Title == "Home" ? "current" : "")"><a id="nav_home" href="/">Home</a></li>
                <li class="@(ViewBag.Title == "Items" ? "current" : "")"><a id="nav_items" href="/items">Items</a></li>
                <li class="@(ViewBag.Title == "Lists" ? "current" : "")"><a id="nav_lists" href="/lists">Lists</a></li>
                <li class="@(ViewBag.Title == "Dibs" ? "current" : "")"><a id="nav_dibs" href="/dibs">Dibs</a></li>
                <li class="@(ViewBag.Title == "Friends" ? "current" : "")"><a id="nav_friends" href="/friends">Friends</a></li>
                <li class="@(ViewBag.Title == "Messages" ? "current" : "")"><a id="nav_messages" href="/messages">Messages</a></li>
                <li class="@(ViewBag.Title == "Settings" ? "current" : "")"><a id="nav_settings" href="/settings">Settings</a></li>
            </ul>
        </nav>

        <div id="page">
            @RenderBody()
        </div>

    </section><!-- /#page -->

    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="~/Scripts/yearnly.js"></script>

</body>
</html>