@if (Request.IsAuthenticated)
{
    
    
    
    <text>


    <div class="group" id="user_header">
        <a href="#user_header_panel" class="activate-panel">
            <img class="profile-pic" src="~/Content/css/i/big_profile_pic.jpg" alt="profile pic" /><span class="user-header-name">@User.Identity.Name</span></a>
        <div class="panel" id="user_header_panel">
            <ul class="menu">
                <li><a href="/@User.Identity.Name">View Profile</a></li>
                <li><a href="/items">My Items</a></li>
                <li><a href="/lists">My Lists</a></li>
            <li>@Html.ActionLink("Settings", "manage", "account", routeValues: null, htmlAttributes: new { id = "account_link" })</li>
            <li><a id="sign_out_link" href="javascript:document.getElementById('logoutForm').submit()">sign out</a></li>
                </ul>
        </div>
    </div>


    @using (Html.BeginForm("LogOff", "account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }


    </text>
    
    
    
    
}
else
{
    @*<div class="group" id="not_logged_in_user_header">
        @Html.ActionLink("Register", "register", "Account", routeValues: null, htmlAttributes: new { id = "register_link", @class = "button" })
        @Html.ActionLink("Log in", "login", "Account", routeValues: null, htmlAttributes: new { id = "login_link", @class = "button" })
    </div>*@
}
