@if (Request.IsAuthenticated) {
    <text>
    <div class="group" id="user_header">
        <a href="/@User.Identity.Name"><img class="profile-pic" src="~/Content/css/i/big_profile_pic.jpg" alt="profile pic" /></a>
        <h2><a href="/@User.Identity.Name">@User.Identity.Name</a></h2>
        @Html.ActionLink("My Account", "manage", "account", routeValues: null, htmlAttributes: new { id = "account_link" })
        <a id="sign_out_link" href="javascript:document.getElementById('logoutForm').submit()">sign out</a>
    </div>
    @using (Html.BeginForm("LogOff", "account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
        }
    </text>
} else {
    <div class="group" id="user_header">
        @Html.ActionLink("Register", "register", "Account", routeValues: null, htmlAttributes: new { id = "register_link", @class = "button" })
        @Html.ActionLink("Log in", "login", "Account", routeValues: null, htmlAttributes: new { id = "login_link", @class = "button" })
    </div>
}
