<nav id="global_nav" class="tertiary">
    <ul id="quick_actions">
        <li class="@(ViewBag.Section == "AddItem" ? "current" : "")" id="qa_item"><a href="/items/add">Add an item</a></li>
        <li class="@(ViewBag.Section == "AddList" ? "current" : "")" id="qa_list"><a href="/lists/add">Create a list</a></li>
    </ul>
    <ul id="site_nav">
        <li class="@(ViewBag.Section == "Home" ? "current" : "")"><a id="nav_home" href="/home">Home</a></li>
        <li class="@(ViewBag.Section == "Items" ? "current" : "")"><a id="nav_items" href="/items">Items</a></li>
        <li class="@(ViewBag.Section == "Lists" ? "current" : "")"><a id="nav_lists" href="/lists">Lists</a></li>
        <li class="@(ViewBag.Section == "Dibs" ? "current" : "")"><a id="nav_dibs" href="/dibs">Dibs</a></li>
        <li class="@(ViewBag.Section == "Friends" ? "current" : "")"><a id="nav_friends" href="/friends">Friends</a></li>
        <!-- <li class="@(ViewBag.Section == "Messages" ? "current" : "")"><a id="nav_messages" href="/messages">Messages</a></li> -->
        <li class="@(ViewBag.Section == "Settings" ? "current" : "")"><a id="nav_settings" href="/account/manage">Settings</a></li>
    </ul>
</nav>