@model Yearnly.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<h1>@ViewBag.Title</h1>

<section id="authentication_form_group" class="group">
    <div class="half left group" id="yearnly_login">

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2>Log in using your Yearnly account</h2>
            <fieldset>
                <fieldset>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </fieldset>
                <fieldset>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </fieldset>
                <fieldset>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </fieldset>
                <input type="submit" class="button right" value="Log in" />
            </fieldset>
        }
    </div>
    <div class="half right" id="social_login_form">
        <h2>Log in using your Facebook account</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>



</section>
<p class="group">
    Don't have an account?
                @Html.ActionLink("Register", "Register", null, new { @class = "button" })
</p>