@model Yearnly.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<div id="promo" class="full-width group">
    <h1>Yearnly</h1>
    <h2 class="pd">What do you want?</h2>

    <div class="half left group" id="yearnly_login">
        <h2 class="pd">Log in</h2>

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3>Log in using your Yearnly account</h3>
            <fieldset>
                <fieldset>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </fieldset>
                <fieldset>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </fieldset>
                <fieldset>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </fieldset>
                <input type="submit" class="button right" value="Log in" />
            </fieldset>
        }
    </div>

    <div class="group half right" id="registration_form">
        <h2 class="pd">Register</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <fieldset>
                    <label for="first_name">First name</label>
                    <input data-val="true" data-val-required="The User name field is required." id="first_name" name="UserName" type="text" value="" />
                </fieldset>
            <fieldset>
                    <label for="user_name">Last name</label>
                    <input data-val="true" data-val-required="The User name field is required." id="last_name" name="UserName" type="text" value="" />
                </fieldset>

            <fieldset>
                    <label for="user_name">User name</label>
                    <input data-val="true" data-val-required="The User name field is required." id="user_name" name="UserName" type="text" value="" />
                </fieldset>
                <fieldset>
                    <label for="password">Password</label>
                    <input data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="password" name="Password" type="password" />
                </fieldset>
                <fieldset>
                    <label for="confirm_password">Confirm password</label>
                    <input data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="confirm_password" name="ConfirmPassword" type="password" />
                </fieldset>
                <fieldset>
                    <input type="submit" id="registration_submit" value="Register" />
                </fieldset>
        }
    </div>
    <div class="group" id="login_with_social">
        <h2>Log in with Facebook</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>

</div>