@model Yearnly.Web.Models.LocalPasswordModel
@{
    ViewBag.Title = "Settings";
    ViewBag.Section = "Settings";
}


<h1>@ViewBag.Title</h1>

<div class="settings-panel group pd">
    <h3>About Me</h3>
    <fieldset>
        <input type="text" name="first_name" id="first_name" placeholder="first name" />
        <input type="text" name="last_name" id="last_name" placeholder="last name" />
        <input type="submit" value="Save Password" />
    </fieldset>
</div>

<div class="settings-panel group pd">
    <h3>Change Password</h3>
    <fieldset>
        <input type="password" name="old_password" id="old_password" placeholder="old password" />
        <input type="password" name="new_password" id="new_password" placeholder="new password" />
        <input type="password" name="new_password" id="new_password_confirm" placeholder="new password again" />
        <input type="submit" value="Save Password" />
    </fieldset>
</div>


@*@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}*@

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

