@model Yearnly.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

<h1>@ViewBag.Title.</h1>

<section id="registration_form">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Registration Form</legend>
            <fieldset>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </fieldset>
            <fieldset>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </fieldset>
            <fieldset>
                <input type="submit" value="Register" />
            </fieldset>
        </fieldset>
    }

</section>

<section class="social" id="socialLoginForm">
    <h2>Log in using facebook:</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

